html,
body {
  min-height: 100vh;
}

body {
  font-family: 'Manrope Variable', sans-serif;
  background-image: url('/back.svg');
  background-size: 200%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
  flex: 1;
  padding-block-start: calc(4rem + var(--space) * 12);
  padding-block-end: calc(var(--space) * 12);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: clamp(1rem, 4vw, 3rem);
}

section {
  padding: clamp(calc(var(--space) * 4), 3vw, calc(var(--space) * 6));
}

/* ===== Background blobs ===== */

body::before {
  content: '';
  position: fixed;
  border-radius: 50%;
  filter: blur(80px);
  z-index: -1;
  pointer-events: none;
  opacity: 0.35;
}

body::before {
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, #60a5faff, #7b8fd4ff);
  top: -100px;
  left: -100px;
}

[data-theme='dark'] body::before {
  opacity: 0.25;
}

/* ==== Responsiveness ==== */

@media (min-width: 768px) {
  body {
    background-size: cover;
  }
}
