---
import Layout from '../layouts/Layout.astro';
import SearchModal from '../components/SearchModal.vue';
import WeatherCard from '../components/WeatherCard.vue';
---

<Layout>
  <main class="container">
    <SearchModal client:load />
    <WeatherCard client:load />
  </main>
</Layout>
