---
import Layout from '../layouts/Layout.astro';
import SearchModal from '../components/SearchModal.vue';
import WeatherCard from '../components/WeatherCard.vue';
import ForecastCard from '../components/ForecastCard.vue';
import ChartCard from '../components/ChartCard.vue';
import MapCard from '../components/MapCard.vue';
---

<script>
  import { initForecast } from '../stores/actions';
  initForecast();
</script>

<Layout>
  <main class="container">
    <SearchModal client:only="vue" />
    <div class="weather-grid grid">
      <WeatherCard client:only="vue" />
      <ForecastCard client:only="vue" />
      <div class="chart-card">
        <h2 class="chart-title">Prévisions toutes les 3 heures</h2>
        <ChartCard client:only="vue" />
      </div>
      <div class="map-card">
        <h2>Carte</h2>
        <MapCard client:only="vue" />
      </div>
    </div>
  </main>
</Layout>
