.toolbar {
  top: 0;
  height: calc(var(--space) * 16);
  border-bottom: 1px solid var(--glass-border);
}

.toolbar,
.toolbar-nav {
  background: var(--bg);
}

.toolbar-nav {
  width: max-content;
  height: 100vh;
  top: 4rem;
  right: 0;
  border-left: 1px solid var(--glass-border);
  border-bottom: 1px solid var(--glass-border);
  border-bottom-left-radius: calc(var(--space) * 2);
  backdrop-filter: var(--glass-blur);
  transform: translateX(100%);
  transition: transform var(--transition);
}

.toolbar-nav.open {
  transform: translateX(0%);
}

/* Hamburger */
.hamburger {
  gap: 5px;
  background: none;
  border: none;
}

.hamburger span {
  width: 22px;
  height: 2px;
  background: var(--ink-1);
  border-radius: 2px;
  transition: all var(--transition);
}

.hamburger.active span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

/* Desktop */
@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .toolbar-nav {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    transform: none;
    backdrop-filter: none;
  }
}

.lucide-sun-icon {
  display: none;
}

[data-theme='dark'] .lucide-sun-icon {
  display: inline;
}
[data-theme='dark'] .lucide-moon-icon {
  display: none;
}
