---
import '../assets/styles/main.css';
import Toolbar from '../components/Toolbar.astro';
const theme = Astro.cookies.get('theme')?.value ?? 'light';
---

<!doctype html>
<html lang="fr" data-theme={theme}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>SkyCast</title>
    <script is:inline>
      const theme = localStorage.getItem('theme') ?? 'light';
      document.documentElement.setAttribute('data-theme', theme);
    </script>
  </head>
  <body>
    <Toolbar />
    <slot />
  </body>
</html>
