---
import '../assets/styles/main.css';
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>SkyCast</title>
    <script is:inline>
      const theme = localStorage.getItem('theme') ?? 'light';
      document.documentElement.setAttribute('data-theme', theme);

      const config = JSON.parse(localStorage.getItem('skycast_config') ?? '{}');
      document.documentElement.lang = config.lang ?? 'fr';
    </script>
  </head>
  <body>
    <!--<img src="/background.svg" class="bg-svg" alt="" aria-hidden="true" />-->
    <div class="bg-blob blob-1"></div>
    <div class="bg-blob blob-2"></div>
    <div class="bg-blob blob-3"></div>
    <Navbar />
    <slot />
  </body>
</html>
